.fixed{
    position: fixed;
    background-color: #7FFF00;
    border: 2px solid black;
    top: 0%;
    width: 100%;
    padding: 10px;
    height: 50px;
    margin-bottom: 20px;
} 
.logo{
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Align text center */
    text-transform: uppercase;
    text-decoration: black;
    text-shadow: dimgray;
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
}  
#content{
    margin: 5px;
}
.container-1{
    margin-top: 90px;
    border: 2px solid black;
    height: 300px;
    width:1100px;
    background-color: rgba(152, 251, 152, 1);
    position: static;
    text-decoration: black;
    text-transform: capitalize;
}
.container-2{
    margin-top: 20px;
    border: 2px solid black;
    height: 300px;
    width:1100px;
    background-color: rgba(152, 251, 152, 1);;
    position: static;
    text-decoration: black;
    text-transform: capitalize;
}


#list {  
    position: fixed;
    top: 10%;
    right: 0%;
    width: 258px;
    height: 47px;
    background-color: #7FFF00;
    color: black; 
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Align text center */
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: black;
    text-shadow: dimgray;
    border-radius: 10px 30px;
    border-radius: 30px;
}
#list-1{  
    position: fixed;
    top: 20%;
    right: 0%;
    width: 258px;
    height: 47px;
    background-color: #7FFF00;
    color: black; 
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Align text center */
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: black;
    text-shadow: dimgray;
    border-radius: 10px 30px;
    border-radius: 30px;
}
#list-2{  
    position: fixed;
    top: 31%;
    right: 0%;
    width: 258px;
    height: 47px;
    background-color: #7FFF00;
    color: black; 
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Align text center */
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: black;
    text-shadow: dimgray;
    border-radius: 10px 30px;
    border-radius: 30px;
}
#list-3{  
    position: fixed;
    top: 42%;
    right: 0%;
    width: 258px;
    height: 47px;
    background-color: #7FFF00;
    color: black; 
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Align text center */
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: black;
    text-shadow: dimgray;
    border-radius: 10px 30px;
    border-radius: 30px;
}
#list-4{  
    position: fixed;
    top: 53%;
    right: 0%;
    width: 258px;
    height: 47px;
    background-color: #7FFF00;
    color: black; 
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Align text center */
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: black;
    text-shadow: dimgray;
    border-radius: 10px 30px;
    border-radius: 30px;
}
#list-5{  
    position: fixed;
    top: 64%;
    right: 0%;
    width: 258px;
    height: 47px;
    background-color: #7FFF00;
    color: black; 
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Align text center */
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: black;
    text-shadow: dimgray;
    border-radius: 10px 30px;
    border-radius: 30px;
}
#list-6{  
    position: fixed;
    top: 75%;
    right: 0%;
    width: 258px;
    height: 47px;
    background-color: #7FFF00;
    color: black; 
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Align text center */
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: black;
    text-shadow: dimgray;
    border-radius: 10px 30px;
    border-radius: 30px;
}
#list-7{  
    position: fixed;
    top: 86%;
    right: 0%;
    width: 258px;
    height: 47px;
    background-color: #7FFF00;
    color: black; 
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Align text center */
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: black;
    text-shadow: dimgray;
    border-radius: 10px 30px;
    border-radius: 30px;
}
